.button-container {
  padding: 20px 0;
  background-color: #ccc;
}

$border-bottom-width: 4px;

@mixin button-shadow {
  .button-shadow {
    margin: 10px;
    padding: 20px 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #00a;
    font-size: 30px;
    border: none;
    border-radius: 4px;
    border-bottom: $border-bottom-width solid #006;
    @include box-shadow(0 ($border-bottom-width / 1.8) 3px #999);
    text-decoration: none;
  }
}

.button-shadow:active {
  background: #009;
  border: none;
  @include box-shadow(none);
  margin-bottom: 10px + $border-bottom-width;
  @include transform(translateY($border-bottom-width));
}

@import 'colors';
  
  
@mixin button-colored($background-color:black, $color:white) {
  color: set-text-color($background-color);
  background-color: $background-color;
  background: linear-gradient($background-color, darken($background-color, 2%));
  &:active {
    color: set-text-color(darken($background-color, 2%));
    background-color: darken($background-color, 5%);
    background: linear-gradient(darken($background-color, 5%), darken($background-color, 7%));
  }
  border-bottom: $border-bottom-width solid darken($background-color, 12%);
  ;
}

@include button-shadow;